<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/dist/css/lo.css"/>

</head>
<body>
<div id="login">
    <h1>注册</h1>
    <form method="post" th:action="@{/register}" >
        <input type="text" required="required" placeholder="用户名" name="loginName"/>
        <input type="password" required="required" placeholder="密码" name="password"/>
        <input type="text" required="required" placeholder="手机" name="phoneNumber" id="phonenumber"/>
        <input type="text" required="required" placeholder="验证码" id="authCode"/>
        <button type="button" id="sendCode"><a >发送验证码</a> </button>
        <button type="button" id="vCode"><a >验证</a></button>
        <button class="but" type="button" id="verifi">注册</button>
        <button class="but" style="display: none" type="submit" id="submit">注册</button>
        <p th:text="${msg}"></p>
    </form>
</div>
<script src="/assets/dist/js/jquery.min.js"></script>
<script>
   var send=document.getElementById("sendCode");
   var vcode=document.getElementById("vCode");
   var veri=document.getElementById("verifi");
   var submit=document.getElementById("submit");
   var code;
   send.addEventListener("click",function () {
       var phone= document.getElementById("phonenumber").value;
       console.log(phone)
       if (phone===""){
           alert("手机不能为空");
       }else{
       $.ajax({
           url:'/getAuthCode'+'?phoneNumber='+phone,
           type:"get",
           success:function (data) {
               code=data;
               alert(data)
           }
       })}
   })
    vcode.addEventListener("click",function () {
        var authCode=document.getElementById("authCode").value;
        var phone= document.getElementById("phonenumber").value;
        $.ajax({
            url:'/verifyAuthCode'+"?phoneNumber="+phone+"&authCode="+authCode,
            type:"get",
            success:function (data) {
               alert(data.msg)
            }
        })
    })
   veri.addEventListener("click",function () {
       var authCode=document.getElementById("authCode").value;
       var phone= document.getElementById("phonenumber").value;
       $.ajax({
           url:'/verifyAuthCode'+"?phoneNumber="+phone+"&authCode="+authCode,
           type:"get",
           success:function (data) {
               if (data.msg===true){
                   submit.click();
               }else {
                  alert(data.msg)
               }
           }
       })
   })

</script>
</body>
</html>